<h1>Condition Date: <%= @condition.date.strftime("%B %d, %Y") %></h1>

<div class="well flex-container-info">
  <div class="">
    <p>Maximum Temperature: <%= @condition.max_temp %>°F</p>
    <p>Minimum Temperature: <%= @condition.min_temp %>°F</p>
    <p>Average Temperature: <%= @condition.mean_temp %>°F</p>
    <p>Average Humidity: <%= @condition.mean_humidity %>%</p>
    <p>Average Visibility: <%= @condition.mean_visibility %> miles</p>
    <p>Average Wind Speed: <%= @condition.mean_wind_speed %> mph</p>
    <p>Precipitation: <%= @condition.precipitation %> inches</p>
  </div>  
  <form action="/conditions/<%= @condition.id %>" method="POST">
    <a class="btn btn-primary" href='/conditions/<%= @condition.id %>/edit'>edit</a>
    <input type="hidden" name="_method" value="DELETE">
    <input class="btn btn-danger" type="submit" value="Delete conditions for this day">
  </form>
</div>
