<h1>Welcome to the Trips Dashboard!</h1>

<div class="average_duration">
  <p>
    Average duration of a ride: <%= @trips.average_duration %> minutes
  </p>
</div>

<div class="longest_ride">
  <p>
    Longest Ride: <%= @trips.longest_ride %> minutes
  </p>
</div>

<div class="shortest_ride">
  <p>
    Shortest Ride: <%= @trips.shortest_ride %> minute
  </p>
</div>

<div class="start_station_with_most_rides">
  <p>
    Station with the most rides as a starting place: <%= @stations.start_station_with_most_rides.name %>
  </p>
</div>

<div class="end_station_with_most_rides">
  <p>
    Station with the most rides as a ending place: <%= @stations.end_station_with_most_rides.name %>
  </p>
</div>

<div class="most_ridden_bike">
  <p>
    Most ridden bike: Number <%= @bikes.most_trips.bike_number %>
  </p>
  <p>
    Total number of rides: <%= @bikes.most_trips.trips.count %>
  </p>
</div>

<div class="least_ridden_bike">
  <p>
    Least ridden bike: Number <%= @bikes.least_trips.bike_number %>
  </p>
  <p>
    Total number of rides: <%= @bikes.least_trips.trips.count %>
  </p>
</div>

<div class="total_and_percent_customers">
  <p>
    Total Customers: <%= @subscriptions.total_customers %>
  </p>
  <p>
    Percent Customers: <%= @subscriptions.percent_subscription_type(@subscriptions.total_customers) %>%
  </p>
</div>

<div class="total_and_percent_subscribers">
  <p>
    Total Subscribers: <%= @subscriptions.total_subscribers %>
  </p>
  <p>
    Percent Subscribers: <%= @subscriptions.percent_subscription_type(@subscriptions.total_subscribers) %>%
  </p>
</div>

<div class="weather_date_with_most_trips">
  <h4>Weather on <%= @trips.date_with_most_trips.strftime("%A, %B %d, %Y") %>: the date with the most trips</h3>
  <ul>
    <li>Maximum Temperature: <%= @trips.weather_on_day_with_highest_rides.max_temp %>°F</li>
    <li>Minimum Temperature: <%= @trips.weather_on_day_with_highest_rides.min_temp %>°F</li>
    <li>Average Temperature: <%= @trips.weather_on_day_with_highest_rides.mean_temp %>°F</li>
    <li>Average Humidity: <%= @trips.weather_on_day_with_highest_rides.mean_humidity %>%</li>
    <li>Average Visibility: <%= @trips.weather_on_day_with_highest_rides.mean_visibility %> miles</li>
    <li>Average Wind Speed: <%= @trips.weather_on_day_with_highest_rides.mean_wind_speed %> mph</li>
    <li>Precipitation: <%= @trips.weather_on_day_with_highest_rides.precipitation %> inches</li>
  </ul>
</div>

<div class="weather_date_with_least_trips">
  <h4>Weather on <%= @trips.date_with_least_trips.strftime("%A, %B %d, %Y") %>: the date with the least trips</h3>
  <ul>
    <li>Maximum Temperature: <%= @trips.weather_on_day_with_least_rides.max_temp %>°F</li>
    <li>Minimum Temperature: <%= @trips.weather_on_day_with_least_rides.min_temp %>°F</li>
    <li>Average Temperature: <%= @trips.weather_on_day_with_least_rides.mean_temp %>°F</li>
    <li>Average Humidity: <%= @trips.weather_on_day_with_least_rides.mean_humidity %>%</li>
    <li>Average Visibility: <%= @trips.weather_on_day_with_least_rides.mean_visibility %> miles</li>
    <li>Average Wind Speed: <%= @trips.weather_on_day_with_least_rides.mean_wind_speed %> mph</li>
    <li>Precipitation: <%= @trips.weather_on_day_with_least_rides.precipitation %> inches</li>
  </ul>
</div>

<div class="month_by_month_breakdown">
  <p>
    <h4>Month by Month Ride Breakdown</h4>
    <table class="table">
      <tr>
        <th>Month</th>
          <% @trips.years.each do |year| %>
            <th><%="#{year}"%></th>
          <% end %>
      </tr>
        <% 12.times do |month| %>
          <tr>
            <td> <%= @trips.month_library[month+1] %> </td>
            <% @trips.years.each do |year| %>
              <td> <%= @trips.year_month_total(year, month) %> </td>
            <% end %>
          </tr>
        <% end %>
      <tr>
        <td>Grand Total</td>
        <% @trips.years.each do |year| %>
          <td><%= @trips.year_sub_totals(year)%></td>
        <% end %>
      </tr>
    </table>
  </p>
</div>
