<h1>Welcome to the Trips Dashboard!</h1>

<div class="flex-container-stations">
  <div class="well show-box average_duration">
      <h3>Average duration of a ride: </h3>
      <h2><%= @trips.average_duration %> minutes</h2>
  </div>

  <div class="well show-box longest_ride">
      <h3>Longest Ride:</h3>
      <h2><%= @trips.longest_ride %> minutes</h2>
  </div>

  <div class="well show-box shortest_ride">
    <h3>Shortest Ride:</h3>
    <h2><%= @trips.shortest_ride %> minute</h2>
  </div>

  <div class="well show-box start_station_with_most_rides">
    <h3>Station with the most rides as a starting place:</h3>
    <h2><%= @stations.start_station_with_most_rides.name %></h2>
  </div>

  <div class="well show-box end_station_with_most_rides">
    <h3>Station with the most rides as a ending place: </h3>
    <h2><%= @stations.end_station_with_most_rides.name %></h2>
  </div>

  <div class="well show-box most_ridden_bike">
    <h3>Most ridden bike:</h3>
    <h2>Number <%= @bikes.most_trips.bike_number %></h2>
    <h3>Total number of rides: </h3>
    <h2><%= @bikes.most_trips.trips.count %></h2>
  </div>

  <div class="well show-box least_ridden_bike">
    <h3>Least ridden bike:</h3>
    <h2>Number <%= @bikes.least_trips.bike_number %></h2>
    <h3>Total number of rides:</h3>
    <h2><%= @bikes.least_trips.trips.count %></h2>
  </div>

  <div class="well show-box total_and_percent_customers">
    <h3>Total Customers: </h3>
    <h2><%= @subscriptions.total_customers %></h2>
    <h3>Percent Customers:</h3>
    <h2><%= @subscriptions.percent_subscription_type(@subscriptions.total_customers) %>%</h2>
  </div>

  <div class="well show-box total_and_percent_subscribers">
    <h3>Total Subscribers: </h3>
    <h2><%= @subscriptions.total_subscribers %></h2>
    <h3>Percent Subscribers:</h3>
    <h2><%= @subscriptions.percent_subscription_type(@subscriptions.total_subscribers) %>%</h2>
  </div>


  <div class="well half-box weather_date_with_most_trips">
    <h4>Weather on <%= @trips.date_with_most_trips.strftime("%A, %B %d, %Y") %>: the date with the most trips</h3>
    <ul>
      <li>Maximum Temperature: <%= @trips.weather_on_day_with_highest_rides.max_temp %>°F</li>
      <li>Minimum Temperature: <%= @trips.weather_on_day_with_highest_rides.min_temp %>°F</li>
      <li>Average Temperature: <%= @trips.weather_on_day_with_highest_rides.mean_temp %>°F</li>
      <li>Average Humidity: <%= @trips.weather_on_day_with_highest_rides.mean_humidity %>%</li>
      <li>Average Visibility: <%= @trips.weather_on_day_with_highest_rides.mean_visibility %> miles</li>
      <li>Average Wind Speed: <%= @trips.weather_on_day_with_highest_rides.mean_wind_speed %> mph</li>
      <li>Precipitation: <%= @trips.weather_on_day_with_highest_rides.precipitation %> inches</li>
    </ul>
  </div>

  <div class="well half-box weather_date_with_least_trips">
    <h4>Weather on <%= @trips.date_with_least_trips.strftime("%A, %B %d, %Y") %>: the date with the least trips</h3>
    <ul>
      <li>Maximum Temperature: <%= @trips.weather_on_day_with_least_rides.max_temp %>°F</li>
      <li>Minimum Temperature: <%= @trips.weather_on_day_with_least_rides.min_temp %>°F</li>
      <li>Average Temperature: <%= @trips.weather_on_day_with_least_rides.mean_temp %>°F</li>
      <li>Average Humidity: <%= @trips.weather_on_day_with_least_rides.mean_humidity %>%</li>
      <li>Average Visibility: <%= @trips.weather_on_day_with_least_rides.mean_visibility %> miles</li>
      <li>Average Wind Speed: <%= @trips.weather_on_day_with_least_rides.mean_wind_speed %> mph</li>
      <li>Precipitation: <%= @trips.weather_on_day_with_least_rides.precipitation %> inches</li>
    </ul>
  </div>

</div>

<div class="month_by_month_breakdown">
  <h3>Month by Month Ride Breakdown</h3>
    <table class="well table table-striped">
      <tr>
        <th>Month</th>
          <% @trips.years.each do |year| %>
            <th><%="#{year}"%></th>
          <% end %>
      </tr>
        <% 12.times do |month| %>
          <tr>
            <th> <%= @trips.month_library[month+1] %> </th>
            <% @trips.years.each do |year| %>
              <td> <%= @trips.year_month_total(year, month+1) %> </td>
            <% end %>
          </tr>
        <% end %>
      <tr>
        <th>Grand Total</th>
        <% @trips.years.each do |year| %>
          <td><%= @trips.year_sub_totals(year)%></td>
        <% end %>
      </tr>
    </table>
</div>

<div id="month_by_month" style="width: 900px; height: 300px;"></div>
