<h1>Welcome to the Station Dashboard!</h1>

<div class="flex-container-stations">
  <div class="well show-box total_stations">
    <h3>Total count of stations:</h3>
    <h2><%= @stations.total_stations %></h2>
  </div>

  <div class="well show-box average_bikes">
    <h3>Average bikes available per station:</h3>
    <h2><%= @stations.average_bikes %></h2>
  </div>

  <div class="well show-box most_bikes">
    <h3>Most bikes available at a station:</h3>
    <h2><%= @stations.most_bikes %></h2>
  </div>

  <div class="well show-box fewest_bikes">
    <h3>Fewest bikes available at a station:</h3>
    <h2><%= @stations.fewest_bikes %></h2>
  </div>

  <div class="well show-box stations_with_most_bikes">
    <h3>Station(s) where the most bikes are available:</h3>
    <h2><%= @stations.stations_with_most_bikes %></h2>
  </div>

  <div class="well show-box stations_with_fewest_bikes">
    <h3>Station(s) where the fewest bikes are available:</h3>
    <h2><%= @stations.stations_with_fewest_bikes %></h2>
  </div>

  <div class="well show-box newest_stations">
    <h3>Most recently installed station(s):</h3>
    <h2><%= @stations.newest_stations %></h2>
  </div>

  <div class="well show-box oldest_stations">
    <h3>Oldest station(s):</h3>
    <h2><%= @stations.oldest_stations %></h2>
  </div>
</div>
