<h1>Station Name: <%= @station.name %></h1>

<div class="well flex-container-info">
  <div class="">
    <h3>Station Information</h3>
    <p>City: <%= @station.city.name %></p>
    <p>Dock Count: <%= @station.dock_count %></p>
    <p>Installation Date: <%= @station.installation_date.strftime("%B %d, %Y")%></p>
  </div>
  <form action="/stations/<%= @station.id %>" method="POST">
    <a class="btn btn-primary" href='/stations/<%= @station.id %>/edit'>edit</a>
    <input type="hidden" name="_method" value="DELETE">
    <input class="btn btn-danger" type="submit" value="Delete Station">
  </form>
</div>


<div class="flex-container-stations">
  <div class="well show-box">
    <h3>Number of rides started at this station:</h3>
    <h2><%= @station.number_of_rides_started %></h2>
  </div>
  <div class="well show-box">
    <h3>Number of rides ended at this station.</h3>
    <h2><%= @station.number_of_rides_ended %></h2>
  </div>
  <div class="well show-box">
    <h3>Most frequent destination station (for rides that began at this station).</h3>
    <h2><%= @station.most_frequent_destination %></h2>
  </div>
  <div class="well show-box">
    <h3>Most freuqnet origination station (for rides that ended at this station).</h3>
    <h2><%= @station.most_frequent_origin %></h2>
  </div>
  <div class="well show-box">
    <h3>Date with the highest number of trips started at this station.</h3>
    <h2><%= @station.busiest_days %></h2>
  </div>
  <div class="well show-box">
    <h3>Most frequent zip code for users starting trips at this station.</h3>
    <h2><%= @station.most_frequent_zip_codes %></h2>
  </div>
  <div class="well show-box">
    <h3>Bike ID most frequently starting a trip at this station.</h3>
    <h2><%= @station.most_frequent_bike %></h2>
  </div>
  <div class="well show-box hide-me">
  </div>
</div>
